{{ define "Content" }}
<div class="page-cover">
	<div class="container">
		<div class="columns is-centered">
			<div class="title cover-title column" style="text-align: center;">
				Aqui, você encontra vagas de
			<span class="title cover-title typewrite" data-period="2000" data-type='["php.", "python."]'><span class="wrap"></span></span>
			</div>
		</div>
		<div class="columns is-centered">
			<div class="column is-3 cover-links">
				<a class="button is-primary is-fullwidth">QUERO CONTRATAR</a>
			</div>
			<div class="column is-3 cover-links">
				<a class="button is-primary is-fullwidth">QUERO SER CONTRATADO</a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="columns is-centered">
		<div class="title column is-5">
			Como a Programathor pode te ajudar?
		</div>
	</div>
	<div class="columns is-centered">
		<div class="column is-4" style="text-align: center;">
			<i class="fas fa-file-signature"></i>
			<h2>VELOCIDADE</h2>
			<p>Seja contratado rapidamente</p>
		</div>
	</div>
</div>
{{ end }}
