<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Programathor</title>
	<link rel="stylesheet" href="/public/css/bulma.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://programathor.com.br">
				<img src="https://programathor.com.br/assets/logo-programathor-46f45829f4c8d4f5bfd9d9aeb461b6d71839c37cc39f2c146b779d2c547bf17b.png" alt="ProgramaThor">
			</a>
			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div class="navbar-menu navbar-style">
			<div class="navbar-end" style="margin-right: 10px;">
				<div class="navbar-item">
					<a class="navbar-item green-link">
						VER VAGAS
					</a>
				</div>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						ENTRAR
					</a>
					<div class="navbar-dropdown is-right dropdown-style">
						<a class="navbar-item" href="/login">
							LOGIN
						</a>
						<hr class="navbar-divider">
						<a class="navbar-item" href="/cadastrar">
							CADASTRE-SE
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div class="page-cover">
		<div class="container">
			<div class="columns is-centered">
				<div class="title cover-title column" style="text-align: center;">
					Aqui, você encontra vagas de
				<span class="title cover-title typewrite" data-period="2000" data-type='["php.", "python."]'><span class="wrap"></span></span>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-3 cover-links">
					<a class="button is-primary is-fullwidth">QUERO CONTRATAR</a>
				</div>
				<div class="column is-3 cover-links">
					<a class="button is-primary is-fullwidth">QUERO SER CONTRATADO</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="columns is-centered">
			<div class="title column is-5">
				Como a Programathor pode te ajudar?
			</div>
		</div>
		<div class="columns is-centered">
			<div class="column is-4" style="text-align: center;">
				<i class="fas fa-file-signature"></i>
				<h2>VELOCIDADE</h2>
				<p>Seja contratado rapidamente</p>
			</div>
		</div>
	</div>
<script src="/public/js/typewriter.js"></script>
</body>
</html>
